# Constraints (omezení)
**Omezení SQL se používají k určení pravidel pro data v tabulce.**

Obvykle používaná omezení v SQL:

NOT NULL - Zajišťuje, že sloupec nemůže mít hodnotu NULL. \
UNIQUE - Zajišťuje, že všechny hodnoty ve sloupci jsou odlišné. \
PRIMARY KEY - Kombinace NOT NULL a UNIQUE. Jedinečně identifikuje každý řádek v tabulce. \
FOREIGN KEY - Zabraňuje akcím, které by zničily vazby mezi tabulkami. \
CHECK - Zajišťuje, že hodnoty ve sloupci splňují konkrétní podmínku. \
DEFAULT - Nastaví výchozí hodnotu pro sloupec, pokud není zadána žádná hodnota. \
CREATE INDEX - Slouží k vytvoření a načtení dat z databáze velmi rychle.

In [ ]:
CREATE TABLE strana.pozice (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    nazev VARCHAR(40) NOT NULL ,
    PRIMARY KEY (id),
    UNIQUE (nazev))
ENGINE = InnoDB;

CREATE TABLE strana.clen (
    ID INT UNSIGNED NOT NULL AUTO_INCREMENT,
    prijmeni VARCHAR(255) NOT NULL ,
    jmeno VARCHAR(255),
    vek INT,
    pozice_id INT UNSIGNED,
    CHECK (vek >= 18),
    PRIMARY KEY (`id`),
    FOREIGN KEY (pozice_id) REFERENCES strana.pozice(id))
ENGINE = InnoDB;
SET autocommit = 1;
SET @clen = 'člen';
SET @mp = 'místopředseda';
SET @p = 'předseda';
SET @t = 'tajemník';

INSERT INTO strana.pozice (id, nazev) VALUES (NULL, @clen);

SET @clen_id = LAST_INSERT_ID();

INSERT INTO strana.pozice (id, nazev) VALUES (NULL, @mp);
INSERT INTO strana.pozice (id, nazev) VALUES (NULL, @p);
INSERT INTO strana.pozice (id, nazev) VALUES (NULL, @t);

INSERT INTO strana.clen
    (id, prijmeni, jmeno, vek, pozice_id)
    VALUES (NULL, 'Novák', 'Jan', 24, 1);

INSERT INTO strana.clen
    (id, prijmeni, jmeno, vek, pozice_id)
    VALUES (NULL, 'Picmaus', 'Klaudius', 30, @clen_id);

INSERT INTO strana.clen (id, prijmeni, jmeno, vek, pozice_id) VALUES (NULL, 'Horák', 'Petr', 17, 2);