### SQL GRANT a REVOKE - Vysvětlení a příklady

Tento notebook se zaměřuje na příkazy GRANT a REVOKE v SQL, které slouží k 
řízení přístupu uživatelů v relační databázi.

### GRANT - Slouží k udělení oprávnění uživateli nebo roli
Syntaxe:
GRANT oprávnění ON objekt TO uživatel [WITH GRANT OPTION];

- oprávnění: Specifické právo, jako SELECT, INSERT, UPDATE, DELETE atd.
- objekt: Název tabulky, pohledu nebo jiného databázového objektu.
- uživatel: Název uživatele nebo role, které udělujeme práva.

In [ ]:
GRANT SELECT, INSERT ON employees TO user1;

### REVOKE - Slouží k odebrání oprávnění uživateli nebo roli
Syntaxe:
REVOKE oprávnění ON objekt FROM uživatel;

- oprávnění: Právo, které odebíráme.
- objekt: Název databázového objektu.
- uživatel: Název uživatele nebo role, které odebíráme práva.

In [ ]:
REVOKE SELECT, INSERT ON employees FROM user1;

### Ukázka kroků:
1. Vytvoření uživatele
2. Udělení oprávnění pomocí GRANT
3. Kontrola udělených práv
4. Odebrání oprávnění pomocí REVOKE
5. Kontrola udělení práv

In [ ]:
CREATE USER 'user1'@'localhost' IDENTIFIED BY 'password';
GRANT SELECT, INSERT ON test_db.employees TO 'user1'@'localhost';
SHOW GRANTS FOR 'user1'@'localhost';
REVOKE SELECT, INSERT ON test_db.employees FROM 'user1'@'localhost';
SHOW GRANTS FOR 'user1'@'localhost';